.sansFont  { font-family: 'PT Sans', 'Calibri', 'Helvetica', sans-serif; };
.serifFont { font-family: 'PT Serif', 'Cambria', 'Georgia', serif; };
.monoFont  { font-family: 'PT Mono', 'Lucida Console','Courier', monospace; };

body
{
  margin: 0;
  padding: 0;
  .sansFont;
}